@font-face {
  font-family: 'iconfont'; /* Project id 3940217 */
  src: url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sign:before {
  content: '\e649';
}

.icon-weixin1:before {
  content: '\e707';
}

.icon-weixin:before {
  content: '\e607';
}

.icon-shouye:before {
  content: '\e601';
}

.icon-remen:before {
  content: '\e8f4';
}

.icon-tixian1:before {
  content: '\e678';
}

.icon-bianji:before {
  content: '\e600';
}

.icon-daochu:before {
  content: '\e6df';
}

.icon-img:before {
  content: '\e699';
}

.icon-7biaoqing-1:before {
  content: '\e667';
}

.icon-biaoge:before {
  content: '\e63e';
}

.icon-shanchu:before {
  content: '\e718';
}

.icon-undo:before {
  content: '\e787';
}

.icon-redo:before {
  content: '\e788';
}

.icon-link:before {
  content: '\e772';
}

.icon-zitibiaoti:before {
  content: '\ec84';
}

.icon-text:before {
  content: '\e734';
}

.icon-video:before {
  content: '\e73b';
}

.icon-save:before {
  content: '\e67c';
}

.icon-zanwushuju:before {
  content: '\e693';
}

.icon-fenxiang3:before {
  content: '\e624';
}

.icon-jiaocheng:before {
  content: '\e72e';
}

.icon-fabuhuodong:before {
  content: '\e666';
}

.icon-renzheng:before {
  content: '\e811';
}
